.header {
   background-color: black;
   padding: 20px 0;
}

.header-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-icons-logo {
   display: flex;
}
 
.header-icons-logo-start {
   color: white;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 35px;
}

.header-icons-logo-end {
   color: #EC7979;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 35px;
}

.header-navigation-list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.navigation-text {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   text-transform: capitalize;
   color: rgba(255, 255, 255, 0.7);
   margin-left: 24px;
   margin-right: 24px;
   border-bottom: 12px solid transparent;
}

.navigation-text:hover {
   color: rgb(255, 0, 0);
   border-bottom: 1px solid rgb(255, 0, 0);
   padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
   .navigation-text {
      display: flex;
      flex-direction: column;
   }
}