.social {
   background-color: #F8EFEF;
   padding: 14px 0 17px 0;
}

.social-wrap {
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
   margin: 0 -15px;
}

.social-text {
   text-align: left;
}

.social-text h2 {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 27px;
   color: #333333;
   margin-bottom: 14px;
}

.social-text p {
   max-width: 365px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #86878B;
}

.fa-facebook-f-aloc {
   margin-left: 40px;
   color: silver;
   font-size: 42px;
   transition: 0.3s;
   vertical-align: middle;
}

.fa-facebook-f-aloc:hover { 
   transform: scale(2);
   transition: 0.5s;
   color: black;
   transform-origin: bottom;
}

.fa-twitter-aloc {
   margin-left: 40px;
   color: silver;
   font-size: 42px;
   transition: 0.3s;
   vertical-align: middle;
}

.fa-twitter-aloc:hover {
   transform: scale(2);
   transition: 0.5s;
   color: black;
   transform-origin: top;
}

.fa-google-plus-g-aloc {
   margin-left: 40px;
   color: silver;
   font-size: 42px;
   transition: 0.3s;
   vertical-align: middle;
}

.fa-google-plus-g-aloc:hover {
   transform: scale(2);
   transition: 0.5s;
   color: black;
   transform-origin: top right;
}

.fa-pinterest-aloc {
   margin-left: 40px;
   color: silver;
   font-size: 42px;
   transition: 0.3s;
   vertical-align: middle;
}

.fa-pinterest-aloc:hover {
   transform: scale(2);
   transition: 0.5s;
   color: black;
   transform-origin: top left;
}

.fa-instagram-aloc {
   margin-left: 40px;
   color: silver;
   font-size: 42px;
   transition: 0.3s;
   vertical-align: middle;
}

.fa-instagram-aloc:hover {
   transition: 0.5s;
   color: black;
   transform: skew(10deg, 10deg)
}

.fa-stumbleupon-aloc {
   margin-left: 40px;
   color: silver;
   font-size: 42px;
   transition: 0.3s;
   vertical-align: middle;
   
}

.fa-stumbleupon-aloc:hover {
   transition: 0.5s;
   color: black;
   transform: rotate(180deg);
}

.fa-wifi-aloc {
   transform: rotate(-45deg);
   margin-left: 40px;
   color: silver;
   font-size: 42px;
   transition: 0.3s;
   vertical-align: middle;
}

.fa-wifi-aloc:hover {
   transition: 0.5s;
   color: black;
   transform: rotate(45deg);
}


